body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 110, 104);
  /* background-color: rgb(255, 250, 91); */
}
::-webkit-scrollbar {
  color: blue;
  width: 10px;
}
